body {
    background-color: wheat;
}

h1 {
    text-align: center;
}

canvas {
    background-color: #effdef;
    display: block;
}
div {
    display: flex;
    flex-direction: row;
}
#instructions {
    flex-direction: column;
    width: 25%;
    margin: 5px;
}
a {
    padding: 5px;
}
