body {
    background-color: #ffffff;
}
.my-flex {
    border: 2px solid lightslategrey;
    height: 10%;
    margin-bottom: 2%;

}
.col-xs-12{
     width: 100%;
 }

.textpart {

    flex: 1;
}
#menu {
    flex: 1;
    margin-top: 10%;
}
#headertext {
    margin-top: 10%;
    font-size: larger;
}
article {
    margin-bottom: 5%;
    border-radius: 30px;
    background-color: #fdfcfc;
    padding: 5px;
    width: 20%;
    height: auto;
}

#headerside {
    margin-left: 0px;
}
main {
    position: relative;
    width: 100%;

}

}
