/** CSS File for Lg Screens **/
@media screen and (max-width: 2000px) {
    row-t {
        width: 75%;
        margin: 5px;

        background-color: lightslategrey;

    }

    img {
        width: 100%;
    }

    p {
        font-size: 20px;
    }
}