<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trello</title>
    <!-- support for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
    <link rel="stylesheet" href="css/todo_list.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/cleantrello.js" async></script>

</head>

<body class="container">
<div id="app">
    <div class="modal-mask" @click="close" v-show="signUpModal">
        <form @click.stop>
            <button type="button"  @click="close">
                Close
            </button>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input v-model="form.name" class="input" type="text" placeholder="Enter your Name">
                </div>

            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input v-model="form.email" class="input" type="text" placeholder="Enter your email">
                </div>
            </div>
            <!-- ROBERT DUVALL -->

            <form id="form" @submit.prevent="storeImage">
                <div>
                    <label for="imgTitle">Title:</label>
                    <input type="text" id="imgTitle" v-model="form.downloadURL">
                    <input type="file" id="files" name="files[]" />
                </div>

            </form>
            <!-- ROBERT DUVALL -->

            <button type="button" id="submit" @click="signUp">
                Sign Up
            </button>

        </form>
    </div>
    <div class="modal-mask" @click="close" v-show="signInModal">
        <form @click.stop>
            <button type="button"  @click="close">
                Close
            </button>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input v-model="form.email" class="input" type="text" placeholder="Enter your email">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input type="password" v-model="form.password" class="input" type="text" placeholder="Enter your Password">
                </div>
            </div>
            <button type="button"  @click="signIn">
                Sign In
            </button>

        </form>
    </div>
    <h1>
        Trello
        {{user.name}}
    </h1>
    <button type="submit" id="submit" @click="signUpModal=true">
        Sign Up
    </button>
    <button type="submit" id="submit" @click="signInModal=true">
        Sign In
    </button>
    <div class="board row row-t">
    <input id="color" type="color" value="#ffffff" @change="changeBackground"/>
    <label> Pick a Color </label>
        <div class="addList">
        <input id="listName"  v-model="currentText" />
        <button @click="addList"> add a List </button>
        </div>
    </div>
    <div class="board row row-t">
    <div class="listView col-lg-3 col-md-6 col-sm-12" v-for="(list,index) in lists" >
        <div >
         <h4 >{{list.title}}<span @click="deleteList(list)">   X   </span> <i class="fa fa-arrow-left text-right"></i> <i @click=listRight(index) class="fa fa-arrow-right"></i></h4>


            <button  @click = "list.expand = !list.expand">
                <div v-if="list.expand">
                    Close
                </div>
                <div v-if="!list.expand">
                    Expand
                </div>
            </button>
            <section v-show="list.expand" class="main" v-cloak>
                <ul class="todo-list">
                    <!-- items are generated by the contents of the (filtered) todo list data structure -->
                    <li class="todo"
                        :class="{ completed: todo.completed }"
                        v-for="todo,key in list.todos">
                        <div class="view">
                            <!-- checking this marks an item as completed -->
                            <!-- this text comes from the todo item's text -->
                            <div class="cell" @click="todo.seen= !todo.seen">

                                <label>{{ todo.title }}</label>
                            </div>
                            <button class="destroy" @click="removeTodo(list,key)"></button>
                        </div>
                        <div v-show="todo.seen" class="modal-mask" @click.stop>
                            <div class="modal-containerInfo" >
                                <div class="modal-header">
                                    <h2 v-if="!edit">{{todo.title}}</h2>
                                    <input v-if="edit" v-model="todo.title" class="form-control">

                                    <button class="modal-default-button text-right" @click="closePop(todo)">
                                        Close
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>
                                        Task
                                    </h5>
                                    <p v-if="!edit">
                                        {{todo.about}}
                                    </p>
                                    <textarea v-if="edit" v-model="todo.about" rows="5" class="form-control"></textarea>
                                    <h5>
                                        Assignee
                                    </h5>
                                    <div v-if="!edit">
                                        <p v-if="todo.assigned.name">
                                            {{todo.assigned.name}}
                                        </p>


                                        <p v-if="!todo.assigned.name">
                                            None
                                        </p>
                                    </div>
                                    <select v-if="edit" v-model="todo.assigned">
                                        Assign
                                        <option v-for="user in users" v-bind:value="user" >
                                            {{ user.name }}
                                        </option>
                                    </select>
                                    <h5>
                                        Deadline
                                    </h5>
                                    <input v-if="edit" id="date" type="date" value="todo.deadline"
                                           v-model="todo.deadline" class="form-control">

                                    <p v-if="!edit">
                                        {{todo.deadline}}

                                    </p>
                                    <button @click="save(list,key,todo)" v-if="edit">
                                            Save
                                    </button>
                                    <div class="task" @click.stop>
                                        <h5>
                                            Tasks
                                        </h5>
                                        <section v-cloak>
                                            <!-- this field adds its text as a todo item when enter is pressed -->
                                            <input class="new-todo"
                                                   placeholder="What needs to be done?"
                                                   v-model="newSubTodo"
                                             @keyup.enter="addSubTodo(list,key)">

                                        </section>
                                        <section class="main" v-cloak>
                                            <ul class="todo-list">
                                                <!-- items are generated by the contents of the (filtered) todo list data structure -->
                                                <li class="todo"
                                                    v-for="task,id in todo.tasks">
                                                    <div class="view">
                                                        <!-- this text comes from the todo item's text -->
                                                        <label class="innerTodo">{{ task.title }}</label>
                                                        <!-- clicking this removes the todo item from the data structure -->
                                                        <button class="destroy" @click="removeSubTodo(list,key,id)"></button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>

                                <label class="form-label">
                                    Images
                                </label>
                                <div class="container-fluid">

                                    <div class="row row-t">
                                        <div class="col-lg-3 col-md-4 col-sm-6"  v-for="image,index in todo.images">
                                            <div class="thumbnail">

                                                <img class="img-responsive thumb" v-bind:src="image.url" alt="missing">
                                                <div class="caption">
                                                    <a v-bind:href="image.url" download>{{image.title}}</a>
                                                    <button class="destroy" @click="removeImageLink(list,key,index,todo)">

                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="form-label">
                                    Add Images
                                </label>
                                <div>
                                    <label for="newTitle">Title:</label>
                                    <input type="text" id="newTitle" v-model="newTitle">
                                    <input type="file" id="newImage" name="files[]" />
                                    <button class="modal-default-button" @click="addToCard(list,key)">
                                        Add Images
                                    </button>
                                </div>
                                <div class="modal-footer text-right">
                                    <button class="modal-default-button" @click="edit=true">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <section class="actions" v-cloak>
                    <!-- <span class="todo-count"> -->
                    <!-- this computed value is displayed -->
                    <!--    <strong>{{ remaining(list) }}</strong> {{ remaining | pluralize }} left -->
                    <!-- </span> -->

                    <!-- this button removes the completed items from the data structure.
                         It only appears when there are items marked as done. -->
                    <modal :show="list.selected" v-bind:index="index" :list="list" @close="list.selected = false"></modal>
                    <button @click="list.selected = true">New Post</button>
                    <!-- use the modal component, pass in the prop -->

                </section>
            </section>

        </div>
    </div>
    </div>
</div>

</body>
<script type="x/template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-container" @click.stop>
                <div class="modal-header">
                    <h3>New Post</h3>
                </div>
                <div class="modal-body">
                    <label class="form-label">
                        Title
                        <input  v-model="title" class="form-control">
                    </label>
                    <label class="form-label">
                    Deadline
                    <input id="date" type="date"  v-model="deadline" class="form-control">
                    </label>

                    <label class="form-label">
                        Body
                        <textarea  v-model="about" rows="5" class="form-control"></textarea>

                    </label>

                    <label class="form-label">
                        Assign to User
                    </label>
                    <select v-model="assigned">
                        Assign
                        <option v-for="user in users" v-bind:value="user">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
                <label class="form-label">
                    Documents
                </label>
                <div>
                    <input type="text" id="imgTitle" v-model="newImageTitle">
                    <input type="file" id="entryFile" name="files[]" />
                    <button class="modal-default-button" @click="addImage">
                        Add Document
                    </button>

                </div>
                <div v-for="image in images" >
                    <label >
                        {{ image.title }}
                    </label>


                </div>
                <div class="modal-footer text-right">
                    <button class="modal-default-button" @click="savePost">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </transition>
</script>

</html>